//$font-family: "Roboto", serif;
$font-family-lg: "Airbnb Light", serif;
$font-family: "Airbnb Regular", serif;
$font-family-md: "Airbnb Medium", serif;
$font-family-b: "Airbnb Bold", serif;
$font-family-xb: "Airbnb Extra Bold", serif;
$font-family-bl: "Airbnb Black", serif;

/*
$bg-primary-color: #fcfcfc;
$bg-primary-color-tr: rgba(255,255,255,0.9);
$bg-secondary-color: #bf8d00;
$bg-tertiary-color: #fdcf00;
$bg-quaternary-color: #212121;
$bg-quinary-color: #f7edc4;
$bg-white-color: #fff;
*/
/* Font colors */
/*
$font-primary-color: #212121;
$font-secondary-color: #014f25;
$font-tertiary-color: #fff;
$font-link-color-grey: #575757;
*/

$bg-primary-color: #fff;
$bg-secondary-color: #bf8d00;
$bg-tertiary-color: #0f0f0f;

//---$bg-white-color: #fff;
/* Font colors */
$font-primary-color: #606060;
$font-secondary-color: #ffffff;
$font-tertiary-color: #bf8d00;
$font-quaternary-color: #272727;

/* Colors */
$color-grey: #606060;
$color-white: #ffffff;
$color-orange: #bf8d00;
$color-light-grey: #ccc;