.velo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
.link-buton {
  padding: 10px 20px;
  border: none;
  border-radius: 25px 25px 25px 25px;
  background-color: $bg-secondary-color;
  color: $font-tertiary-color;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  margin-top: 25px;
  display: block;
  &:hover {
    background-color: darken($bg-secondary-color, 10%);
  }
}
