.velo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
.link-buton {
  padding: 10px 20px;
  border: none;
  border-radius: 25px 25px 25px 25px;
  background-color: $bg-secondary-color;
  color: $font-tertiary-color;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  margin-top: 25px;
  display: inline-block;
  &:hover {
    background-color: darken($bg-secondary-color, 10%);
  }
}
.logo-gris {
  background-image: url('../img/logo-gris.png');
  background-repeat: no-repeat;
  background-position: 95% 97%;
  background-size: 35px;
}
.logo-color {
  background-image: url('../img/isotipo.png');
  background-repeat: no-repeat;
  background-position: 97% 5%;
  background-size: 35px;
}
.shadow-box {
  box-shadow: -5px 3px 22px -2px rgba(0, 0, 0, 0.76);
   -webkit-box-shadow: -5px 3px 22px -2px rgba(0, 0, 0, 0.76);
   -moz-box-shadow: -5px 3px 22px -2px rgba(0, 0, 0, 0.76);
}
.separacion-2-columnas{
  margin-bottom: 30px;
}
.border-color-secondary{
  border: 4px solid $bg-secondary-color;
}
