footer{
    background-color: $bg-tertiary-color;
    color: $font-secondary-color;
    padding: 80px 30px;

    .logo-footer{
        width: 80px;
    }
    p{
        line-height: 0.7rem;
    }
   h2{
    text-transform: uppercase;
    margin-bottom: 10px;
   }
   h4,h5{
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 700;
   }
   a{
        color: $bg-secondary-color;
        text-decoration: none;
        font-weight: 700;
    }
   ul{
    list-style: none;
    padding: 0;
    a{
        color: $bg-secondary-color;
        text-decoration: none;
        font-weight: 700;
        border-radius: 30px;
        border: 1px solid $bg-secondary-color;
        width: 50px;
        height: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    i{
        font-size: 1.8rem;
        margin-top: 0px;
        opacity: 0.7;
        
    }
   }
   
}