@import "../abstracts/mixins";
.header-home {
  height: 100svh;
  background-size: cover;
  background-position: center;
  position: relative;
  justify-items: center;
  display: grid;
  align-content: space-between;
  .top-navigation {
    background-color: $bg-primary-color-tr;
    padding: 20px 20px;
    width: 100%;
    @include grid(grid, 1fr 1fr 1fr 1fr);
    position: relative;
    z-index: 2050;
    .logo {
      padding: 5px 0px;
    }
    .menu {
      background-color: $bg-white-color;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100%;
      padding: 30px 50px;
      display: flex;
      align-items: center;
      z-index: 2100;
      transition: all 0.5s ease-in-out;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        a {
          color: $font-primary-color;
          text-decoration: none;
          font-weight: 500;
          font-size: 1rem;
          margin: 10px 15px;
          text-transform: uppercase;
          display: inline-block;
          &:hover {
            color: $font-secondary-color;
          }
        }
      }
    }
    
    .open-menu {
      right: 0px;
    }
    .idioma-top {
      ul {
        display: flex;
        /*justify-content: center;*/
        align-items: center;
        height: 100%;
        list-style: none;
        li {
          margin: 0 3px;
          height: auto;
          width: 30px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            color: $font-link-color-grey;
          }
          i {
            font-size: 25px;
          }
        }
      }
    }
  }

  .find-container {
    width: 100%;
    position: relative;
    background-color: $bg-quinary-color;
    padding: 8px 0px;
    text-align: center;
    input{
      width: 60%;
      padding: 10px;
      border: none;
      border-radius: 25px 0px 0px 25px;
      font-size: 1rem;
    }
    button{
      padding: 10px 20px;
      border: none;
      border-radius: 0px 25px 25px 0px;
      background-color: $bg-secondary-color;
      color: $font-tertiary-color;
      font-size: 1rem;
      cursor: pointer;
      &:hover{
        background-color: darken($bg-secondary-color, 10%);
      }
    }
  }

  .contenedor-slide {
    position: relative;
    width: 100%;
    height: 100svh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-slide {
    position: absolute;
    bottom: 0;
    z-index: 1800;
    color: $font-tertiary-color;
    text-align: center;
    width: 100%;
    padding: 15px 0px 50px 0px;
    line-height: 1.3;
    .highligth {
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 0px;
      text-shadow: 0px 1px 12px rgba(255, 255, 255, 0.9);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .details {
      background-color: $bg-primary-color;
      color: #000;
      width: 80%;
      padding: 30px;
      margin-left: 10%;
    }
  }
}
