.model1 {
  background-color: $bg-white-color;
  padding: 60px 25px;
  .contenido {
    background-color: $bg-white-color;
    box-shadow: -5px 3px 22px -2px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: -5px 3px 22px -2px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: -5px 3px 22px -2px rgba(0, 0, 0, 0.76);
    display: flex;
    flex-direction: column;
    .contenido-texto {
      padding: 40px 40px 80px 40px;
      h2 {
        font-family: $font-family;
        color: $font-primary-color;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 15px;
      }
      p {
        font-family: $font-family;
        color: $font-primary-color;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
}

.model2 {
  background-color: $bg-white-color;
  padding: 60px 25px;
  .contenido-texto {
      padding: 40px 40px 40px 40px;
      color: $font-tertiary-color;
      h2 {
        font-family: $font-family;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      p {
        font-family: $font-family;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  
}
