@import "../abstracts/variables";
@import "../abstracts/mixins";

/* Media query para tabletas */
@media (min-width: 768px) {
  .header-home {
    .top-navigation {
      padding: 20px 20px;
      @include grid(grid, 35% 25% 15% 15% 15%);

      .fifty {
        /* MOD */
        display: flex;
        order: 3;
        align-items: center;
        justify-content: center;
        img {
          width: 60px;
          height: auto;
        }
      }
      .find {
        order: 4;
      }
      .idiomatop {
        order: 2;
      }
    }

    .find-container-open {
      top: 140px;
    }

    .contenedor-slide {
      display: flex;
      align-items: center;
      background-size: cover;
      .contenido {
        width: 68%;
        padding: 0px 0px 0px 100px;
        .isotipo {
          text-align: start;
        }
        h1 {
          font-size: 2.8rem;
          text-align: start;
        }
        p {
          text-align: start;
          font-size: 1.3rem;
        }
      }
    }
  }
  .btn11 {
    @include btn(20px, 38px);
  }

  .model1 {
    
    .contenido {

      flex-direction: row;
      .contenido-imagen {
        width: 50%;
        height: auto;
      }
      .contenido-texto {
        width: 50%;
        h2{
          font-size: 1.3rem;
        }
      }
    }

  }

  .model1b {
    .card {
      .card-body {
        .card-title {
          font-size: 1.2rem;
        }
      }
    }
    h2 {
      font-size: 1.3rem;
    }
    h3 {
      font-size: 1.2rem ;
    }
  }

  .model2 {
    
    .contenido-texto {
      
      h2 {
        font-size: 1.6rem;
      }
      p {
        font-family: $font-family;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }

  .model22 {
    .contenido-texto {
      h2 {
        font-size: 1.3rem;
      }
    
    }
  }

  .model3 {
    .contenedor-a {
      h2 {
        font-size:1.6rem;
      }
    }
  }

  .model4 {
   
    .contenido-texto {
      
      h2 {
        font-size:1.3rem;
      }
     
    }
  }

  .logo-gris {
    background-position: 95% 95%;
  }
}
