@import "../abstracts/variables";
@import "../abstracts/mixins";

/* Media query para tabletas */
@media (min-width: 768px) {
  .header-home {
    .top-navigation {
      padding: 20px 20px;
      @include grid(grid, 35% 25% 15% 15% 15%);

      .fifty {
        /* MOD */
        display: flex;
        order: 3;
        align-items: center;
        justify-content: center;
        img {
          width: 60px;
          height: auto;
        }
      }
      .find {
        order: 4;
      }
      .idiomatop {
        order: 2;
      }
    }

    .find-container-open {
      top: 140px;
    }

    .contenedor-slide {
      display: flex;
      align-items: center;
      background-size: cover;
      .contenido {
        width: 58%;
        padding: 0px 0px 0px 100px;
        .isotipo {
          text-align: start;
        }
        h1 {
          font-size: 2.4rem;
          text-align: start;
        }
        p {
          text-align: start;
        }
      }
    }
  }
  .btn11 {
    @include btn(20px, 38px);
  }

  .model1 {
    
    .contenido {

      flex-direction: row;
      .contenido-imagen {
        width: 50%;
        height: auto;
      }
      .contenido-texto {
        width: 50%;
      }
    }

  }
}
